services:
  - type: web
    name: stylegrapher
    env: python
    buildCommand: python clear_cache.py && pip install -r requirements.txt
    startCommand: gunicorn wsgi:app --workers=2 --threads=4 --worker-class=gthread --timeout=120
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.0
      - key: FLASK_ENV
        value: production
      - key: PYTHONUNBUFFERED
        value: "true"
      - key: FLASK_APP
        value: wsgi:app